.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: 660px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 36px;
    padding-bottom: 24px;
  }

  @media (min-width: 1200px) {
    padding-top: 70px;
    padding-bottom: 59px;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 auto 38px;
  width: 145px;
  fill: $basickgrey;

  &:hover {
    fill: $lightred;
  }

  &:active {
    fill: $basickgrey;
    opacity: 0.3;
  }

  transition: fill 0.3s ease 0s;

  @media (min-width: 660px) {
    margin: 0 0 14px;
  }
}

.page-footer__logo-mobile {
  @media (min-width: 1199px) {
    display: none;
  }
}

.page-footer__logo-desktop {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}
