// Colors Index.html

$basicblack: #000000;
$header: rgba($basicblack, 0.3);
$basickgrey: #283645;
$alphabasickgrey: rgba($basickgrey, 0.3);
$darkgray: #252527;
$dark-background: #1d2631;
$basicwhite: #ffffff;
$light-background: #f2f2f2;
$no: #f25b26;
$yes: #3dc644;
$ultra-lightgray: #e5e5e5;
$lightred: #d22856;
